ul.sheets__list
   // Nothing

li.sheets__list-item
  // Defaults

ul.sheets__table
  padding: 0 1rem 0 1rem

li.sheets__table-item
  display: flex

  span
    flex: 1

li:nth-child(odd).sheets__table-item
  background-color: darken($widget-bg-color, 3)
